* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'MuseoModerno', cursive;
    background-color: #ebebeb;
    font-size: 12px;
}
.main-header-top-bar {
    width: 100%;
    margin: auto;
    background-color: #03071E;

}
.main-header-top-bar a {
    background-color: blanchedalmond;
}
.logo {
    width:50%;

}


/*
colores
#03071E
#FFBD4A
e5e5e5
*/