<footer>
    <section class="info">
  
        <div class="dropdown" id="help">        
            
            <button onclick="myFunction()" class="dropbtn">
            Ayuda
            </button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">Contáctanos</a>
                <a href="#">Métodos de pago y envíos</a>
                <a href="#">Estado del pedido</a>
                <a href="#">Preguntas frecuetes</a>
              </div>
        </div>
        <div class="dropdown" id="about">        
            <button onclick="myFunction2()" class="dropbtn2">Acerca de nosotros
            </button>
            <div id="myDropdown2" class="dropdown-content2">
                <a href="#">Compañia</a>
                <a href="#">Sucusales</a>
                <a href="#">Noticias</a>
              </div>
        </div>
        <div class="social">
            <a href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-instagram-square" aria-hidden="true"></i></a>
        </div>
    </section>
    <section class="copyright">
        <h5>Todos los derechos reservados</h5>
    </section>
  </footer>